body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	background:url(./img/paulo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.home-container-paulo{
	
}
.home-paulo-titulo-principal{
	color: #4f3;
}
.home-paulo-logo{

}
.container-home-bar-paulo{

}
.sub-container-home-bar-paulo{

}
.home-bar-item{
	color: 
}


